{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "importOrder": [
    "^react",
    "^next/",
    "^styled",
    "<THIRD_PARTY_MODULES>",
    "^@tanstack",
    "^@((?!components).)*$",
    "^@/shared/ui*",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
