.filled {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-1);
  border-radius: 4px;
}

.button1 {
  background-color: var(--button-1);
}

.primary1 {
  background-color: var(--primary-1);
}

.primary2 {
  background-color: var(--primary-2);
}

.border {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--neutral-1);
  background-color: var(--white-1);
  border: 1px solid #cbd5e1;
  border-radius: 4px;
}

.withIcon {
  gap: 8px;
}

.disabled {
  background-color: var(--button-dim);
  cursor: not-allowed;
}
