.container {
  position: relative;
  width: fit-content;
}

.label {
  font-size: 16px;
  font-weight: 700;
  color: var(--neutral-1);
  flex-shrink: 0;
}

.field {
  padding: 10.5px 12px;
  font-size: 16px;
  color: var(--neutral-1);
  background-color: var(--bg_input);
  border: 1px solid var(--border-1);
  border-radius: 4px;

  &:focus {
    border: 1px solid var(--primary-1);
    caret-color: var(--primary-1);
  }

  &:disabled {
    color: var(--neutral-2);
    background-color: var(--bg-gray);
  }
}

.leftIcon {
  padding-left: 30px;
}

.rightIcon {
  padding-right: 30px;
}

.icon {
  position: absolute;
  top: calc(50% - 8px);
  margin: 0 4px 0 12px;
}
