@use '@/shared/styles/colors';

.flexContainer {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
}

.trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  border: 1px solid var(--border-1);
  border-radius: 4px;
  // padding: 10.5px 12px;
  padding: 10.5px 0;
  color: colors.$gray-5;
  font-size: 18px;

  .selected {
    color: colors.$black-1;
  }
}

.dropdown {
  position: absolute;
  top: calc(100% + 4px);
  /* right: 0; */
  left: 0;
  width: 370px;
  border-radius: 4px;
  background-color: colors.$white-1;
  box-shadow: 0px 20px 60px 0px #17314b26;
  z-index: 15;
}

.optionScrollContainer {
  max-height: 236px;
  overflow: hidden;
  overflow-y: scroll;
}

.option {
  color: colors.$black-1;
  padding: 12px 0 12px 20px;
  cursor: pointer;

  &:last-of-type {
    border-radius: 0 0 4px 4px;
  }

  &:hover {
    text-decoration: underline;
  }
}

.active {
  // color: var(--primary-1);
  font-weight: 700;
}

.searchContainer {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 12px;
}
