$white-1: #ffffff;
$yellow-1: #efef42;
$yellow-2: #efef41;
$gray-1: #f5f5f5;
$gray-2: #efefef;
$gray-3: #d1d0d0;
$gray-4: #aaaaaa;
$gray-5: #a0a0a0;
$gray-6: #707070;
$gray-7: #363636;
$black-1: #000000;
