.message {
  position: relative;
  padding-left: 15px;
  color: var(--neutral-2);
  font-size: 16px;
  line-height: 19.36px;

  &::before {
    content: '•';
    color: var(--neutral-2);
    position: absolute;
    left: 0;
  }
}
