.main {
  min-height: 100vh;
  color: var(--black-1);
  background-color: var(--white-1);
}

.nav {
  background-color: var(--black-1);
  height: 15rem;
}

.section {
  border-bottom: 1px solid var(--black-1);
}
