@use '@/shared/styles/mixins' as *;

.mainCard {
  max-width: clamp(33.5rem, calc(4.01rem + 78.641vw), 155rem);
  margin: 0 auto;
  @include responsive-padding-top(10.9rem, calc(9.104rem + 4.79vw), 18.3rem);
  @include responsive-padding-bottom(12.1rem, calc(9.43rem + 7.12vw), 23.1rem);
  text-align: center;
}

.cardGroup {
  display: flex;
}

// 재사용 가능한 스타일 정의
@mixin squareCardStyle {
  width: 100%;
  max-width: 50%;
  aspect-ratio: 1 / 1;
  border-right: 1px solid var(--black-1);
}

.textCard {
  @include squareCardStyle;
  background-color: var(--gray-1);
}

.textCardInner {
  @include responsive-padding-top(6.2rem, 8vw, 13.5rem);
  @include responsive-padding-left(2.8rem, 3.5vw, 5.5rem);
  @include responsive-padding-right(2.8rem, 3.5vw, 5.5rem);
  @include responsive-padding-bottom(2.6rem, 9vw, 16.1rem);
}

.imageCard {
  @include squareCardStyle;
  background-color: aqua;
}

.logoCard {
  @include squareCardStyle;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-3);

  p {
    // 텍스트가 center border 위로 올라오도록 하기 위함
    z-index: 3;
  }
}

.logoCardYellow {
  background-color: var(--yellow-1);
}

.logoCardCenterBorder {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--gray-6);
  transform: translateX(-0.5px);
}

.reservationCard {
  width: 100%;
  max-width: 50%;
  border-right: 1px solid var(--black-1);
}

.reservationCardInner {
  @include responsive-padding-top(10.9rem, calc(6.07rem + 12.88vw), 30.8rem);
  @include responsive-padding-bottom(12.1rem, calc(9.6rem + 6.667vw), 22.4rem);
  @include responsive-padding-x(2rem, calc(0.325rem + 4.466vw), 8.9rem);
  text-align: center;
}

.reservationButton {
  width: 100%;
  height: clamp(9.6rem, calc(9.017rem + 1.553vw), 12rem);
  color: var(--black-1);
  font-size: clamp(1.6rem, calc(1.406rem + 0.518vw), 2.4rem);
  outline: none;
  border: none;
  border-top: 1px solid var(--black-1);
  background-color: var(--yellow-1);
}
